{% extends "::base.html.twig" %}

{% block head_style %}
    {{ parent() }}
    
{% endblock %}

{% block title %}Formularz kontaktowy{% endblock %}

{% block body %}
    
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endfor %}
    
    {% include 'ShopProductBundle:Main:form.html.twig' with {form: form} %}
    
{% endblock %}
